<section id="about" class="grid sm:grid-cols-2 gap-4 my-16">
  <div class="my-auto">
    <h2 class="text-2xl text-center">About Me</h2>
    <p class="h-1 w-8 bg-white mx-auto"></p>
  </div>
  <div class="my-auto">
    <p class="mb-4 text-xl">
      I am a <span class="text-cyan-500">Computer Systems Engineer</span> with experience
      in <span class="text-cyan-500">Cloud Computing</span> and
      <span class="text-cyan-500">Full-Stack Development</span>.
    </p>
    <p class="mb-4 text-xl">
      I am currently working at an AWS Advanced Consulting Partner company
      called
      <a
        href="https://www.compucloud.com.mx/"
        class="text-cyan-500 hover:underline"
        target="_blank"
        rel="noopener noreferrer">Compucloud</a
      > as a <span class="text-cyan-500">Solutions Consultant</span>.
    </p>
  </div>
</section>
