<footer class="text-center py-6 text-sm">
  <p class="text-center">
    © 2023 Jorge Daniel Cazarez Hernandez. Asset by <a
      href="https://www.freepik.com/free-vector/modern-technology-composition_3354976.htm"
      class="font-semibold text-slate-500 hover:text-slate-400"
      target="_blank">Freepik</a
    >
  </p>
</footer>
