---
import "@fontsource/poppins";
import heroSVG from "../../assets/img/hero.svg";
import { Image } from "astro:assets";
---

<section class="grid sm:grid-cols-2 gap-4 my-8">
  <div class="my-auto">
    <p class="mb-4 font-mono text-2xl">
      Hi! My name is <span class="text-cyan-500">Jorge Daniel</span> and I am a <span
        class="text-cyan-500">Computer Systems Engineer</span
      > and <span class="text-cyan-500">AWS Enthusiast</span> from
      <span class="text-cyan-500"> Mexico</span>.
    </p>
  </div>
  <div>
    <Image src={heroSVG} alt="About" title="Image by Freepik" />
  </div>
</section>
