---
import MainHeader from "../components/ui/MainHeader.astro";
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Projects.astro";
import Footer from "../components/sections/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <MainHeader />
  <main>
    <Hero />
    <About />
    <Projects />
    <Contact />
    <Footer />
  </main>
</Layout>
