<section class="about" id="about">
  <div class="content">
    <h2 class="title">About Me</h2>
    <p class="text">
      I am a full-stack developer, passionate about technology and programming.
      I like to learn new things and I consider myself a very responsible and
      committed person with my projects.
      <br /><br />
      I am currently majoring in Computer Systems Engineering and minoring in Full-Stack
      Development at the Instituto Tecnológico de Estudios Superiores de Zamora.
    </p>
    <a href="#projects" class="btn">Se projects</a>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .about {
    background-color: $color-secondary;
    padding: 2rem 0;
    text-align: center;
  }
</style>
