<footer>
  <div class="content">
    <p class="text">&copy; Jorge Daniel Cazarez Hernandez</p>
  </div>
</footer>

<style lang="scss">
  @import "../styles/variables.scss";

  footer {
    background-color: #11111a;
    padding: 2rem 0;
    text-align: center;
    color: #fff;

    &-text {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    &-link {
      text-decoration: none;
      color: $color-secondary;
      font-size: 1rem;
      font-weight: 400;
    }

    &-link:hover {
      color: $color-primary;
    }
  }
</style>
