---
import "@fontsource-variable/jetbrains-mono";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>DanielCaz Portfolio</title>
    <meta
      name="description"
      content="Hi! My name is Jorge Daniel and I am a Computer Systems Engineer and AWS Enthusiast from Mexico."
    />
    <meta name="keywords" content="daniel, cazarez, portfolio, jorge" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta property="og:title" content="Daniel Cazarez" />
    <meta property="og:image" content="https://danielcaz.me/logo-og.png" />
    <meta
      property="og:description"
      content="Hi! My name is Jorge Daniel and I am a Computer Systems Engineer and AWS Enthusiast from Mexico."
    />
    <meta property="og:url" content="https://danielcaz.me/" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:type" content="website" />
    <meta property="image" content="https://danielcaz.me/logo-og.png" />
  </head>
  <body class="mx-auto max-w-screen-xl px-5 bg-black text-white relative">
    <slot />
    <script
      type="text/javascript"
      async
      src="//cdn.credly.com/assets/utilities/embed.js"></script>
  </body>
</html>
