<header class="py-4 flex items-center justify-between">
  <h1 class="text-3xl">Daniel&apos;s Blog</h1>
  <nav>
    <a
      class="hover:text-cyan-400 transition-all duration-300 ease-in-out text-lg"
      href="/">Home</a
    >
  </nav>
</header>
